/* globaly used css starts here*/
* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Work Sans';
}

.btn-primary {
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    border: 0;
    padding: 10px 35px;
    margin-top: 20px;
    border-radius: 5px;
    background: orange;
}

/* css styles start for navbar area */
.main-header-area {
    background: rgba(255, 144, 14, 0.1);
}

.nav-area {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-logo a {
    text-decoration: none;
    color: black;
    font-size: 22px;
    font-weight: 800;
}

.nav-area ul {
    display: flex;
    align-items: center;
}

.nav-area ul li {
    list-style: none;
}

.nav-area ul li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    padding-right: 60px;
}

/* css styles end for navbar area */

/* css styles start for header banner area */
.main-banner-area {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;

}

.main-banner-content {
    text-align: center;
}

.main-banner-content h1 {

    font-size: 40px;
    font-weight: 900;
}

.banner-img img {
    margin-top: 30px;
    width: 800px;
    object-fit: cover;
}


/* css styles end for main banner area */
/* -----------------------------------
    Media Queries
-------------------------------------- */

/* Mobile Devices */
@media only screen and (max-width:688px) {

    .nav-area {
        height: auto;
        flex-direction: column;
        background-color: black;
        align-items: flex-start;
        padding: 20px;
    }

    .nav-area ul {
        flex-direction: column;
        align-items: flex-start;
        margin: 20px 0;
    }

    .nav-area ul li {
        padding: 20px 0;
        width: 100%;
    }

    .nav-logo a,
    .nav-area ul li a {
        color: white;
        font-weight: 700;
    }

}